<div class="usps page-usps">
    <div class="usp-list">
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/molecule.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Genetic training{% endtrans %}</h3>
                <p>
                    {% trans %}You're training the most natural way for your body{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/dumbell.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Short training{% endtrans %}</h3>
                <p>
                    {% trans %}Maximum 30 minutes on high intensity{% endtrans %}
                </p>
            </div>
        </div>
        <div class="clear usp-mid-split">&nbsp;</div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/thumbs-up.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Results guaranteed{% endtrans %}</h3>
                <p>
                    {% trans %}Reach your goals by following our guidelines{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/einstein.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Advice by training experts{% endtrans %}</h3>
                <p>
                    {% trans %}Neobodies only works with real trainers{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
