<div class="usps page-usps">
    <div class="usp-list">
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/camera.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Training download{% endtrans %}</h3>
                <p>
                    {% trans %}Download your training and train anywhere{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/coaching.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Personal coaching{% endtrans %}</h3>
                <p>
                    {% trans %}You can contact by e-mail, WhatsApp and face-to-face{% endtrans %}
                </p>
            </div>
        </div>
        <div class="clear usp-mid-split">&nbsp;</div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/kettlebell.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Advice about training{% endtrans %}</h3>
                <p>
                    {% trans %}According to your personal GenBluePrint{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/food.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Advice about food{% endtrans %}</h3>
                <p>
                    {% trans %}According to your personal GenBluePrint{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
